version: 2
jobs:
  build:
    docker:
      # terrorjack's awesome docker image
      # - image: terrorjack/rakuen:ghc-8.2.1.20171108
      # - image: terrorjack/meikyu:ghc-8.2.1.20171108
      - image: terrorjack/meikyu:nightly-2017-11-14

    steps:
      - checkout
      # - run:
      #     name: Install Agda
      #     command: |
      #       stack --resolver nightly install alex cpphs happy Agda
      #       agda --version
      #     no_output_timeout: 1.2h
      - run:
          name: Install the Agda Standard lib
          command: |
            git clone https://github.com/agda/agda-stdlib.git ~/agda-stdlib/
            mkdir ~/.agda
            echo "~/agda-stdlib/standard-library.agda-lib" >> ~/.agda/libraries
            echo "standard-library" >> ~/.agda/defaults
      - run:
          name: Build theorems
          command: agda src/Index.agda
      - run:
          name: Build html
          command: agda --html src/Index.agda
